{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="text-align:center">Create Listings</h2>
    <div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}{% load widget_tweaks %}
        <div class="form-group row">
            <label for="{{ form.id_title}}" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10" >
                {{ form.title |add_class:"form-control"  }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.id_desc}}" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                {{ form.desc |add_class:"form-control"|attr:"rows:" }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.id_initial_amt}}" class="col-sm-2 col-form-label">Starting Bid</label>
            <div class="col-sm-10">
                {{ form.initial_amt|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.id_image }}" class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
                {{ form.image |add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.id_category }}"  class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                {{ form.category|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row" style="float:right;">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" >Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
            
