{% extends "auctions/layout.html" %}

{% block body %}
    <h2>All Listings</h2>
    <table>
        {% for all in product %}
        <tr>
            <td id="img-col">
                <a href="{% url 'details' all.id %}"><img src="{{ all.image.url }}"></a>
            </td>
            <td id="right-col">
                <a href="{% url 'details' all.id %}"><h5>{{ all.title }}</h5></a>
                <p>{{ all.desc }}</p>
                <h6>Price: ${{ all.initial_amt }}</h6>
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}
