{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="text-align:center">Active Listings</h2>
    <table>
        {% for info in infos %}
        <tr>
            <td id="img-col">
                <a href="{% url 'details' info.id %}"><img src="{{ info.image.url }}"></a>
            </td>
            <td id="right-col">
                <a href="{% url 'details' info.id %}"><h5>{{ info.title }}</h5></a>
                <p>{{ info.desc }}</p>
                <h6>Price: ${{ info.initial_amt }}</h6>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}
